### 정규화
#### column간에 다른 min, max 값을 가지는 경우, 정규화를 통해 최소값/최대값의 척도를 맞춰주는 작업
- 네이버 영화평점(0 ~ 10점) : [2,4,6,8,10]
- 넷플릭스 영화평점(0점 ~ 5점) : [1,2,3,4,5]

In [4]:
import pandas as pd

In [5]:
movie = {'naver' :[2,4,6,8,10],
        'netflix' :[1,2,3,4,5]
        }  # 딕셔너리에 담아줌

In [7]:
movie = pd.DataFrame(data = movie)
movie

   naver  netflix
0      2        1
1      4        2
2      6        3
3      8        4
4     10        5

In [8]:
from sklearn.preprocessing import MinMaxScaler

In [13]:
min_max_scaler = MinMaxScaler()

In [14]:
min_max_movie = min_max_scaler.fit_transform(movie)

In [20]:
min_max_movie

array([[0.  , 0.  ],
       [0.25, 0.25],
       [0.5 , 0.5 ],
       [0.75, 0.75],
       [1.  , 1.  ]])

In [24]:
pd.DataFrame(min_max_movie, columns=['naver','netflix'])

   naver  netflix
0   0.00     0.00
1   0.25     0.25
2   0.50     0.50
3   0.75     0.75
4   1.00     1.00

### 표준화
#### 평균이 0과 표준편차가 1이 되도록 변환합니다.

In [25]:
import numpy as np
from sklearn.preprocessing import StandardScaler
standard_scaler = StandardScaler()

In [26]:
x = np.arange(10)
x[9] = 1000
x

array([   0,    1,    2,    3,    4,    5,    6,    7,    8, 1000])

In [27]:
x.mean(), x.std()

(103.6, 298.8100399919654)

In [28]:
scaled = standard_scaler.fit_transform(x.reshape(-1,1))

In [29]:
x.mean(), x.std()

(103.6, 298.8100399919654)

In [30]:
scaled.mean(), scaled.std()

(4.4408920985006264e-17, 1.0)

In [31]:
round(scaled.mean(),2), scaled.std()

(0.0, 1.0)